/*
***************************************
Component: Header
Author: Joimee
Description:
***************************************
*/

.header {
  margin-bottom: rem(30);

  display: flex;
  height: rem(80);
  padding-bottom: rem(10);
  background-color: var(--dark);

  &.--no-space {
    margin-bottom: 0;
  }

  &__brand {
    @include Avenir;

    grid-column: 1 / 3;
    align-self: end;

    font-size: rem(24);
    font-style: oblique;
    line-height: rem(33);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light);
  }

  &__profile {
    @include flex-center;

    grid-column: 8 / 9;
    align-self: end;

    width: rem(30);
    height: rem(30);
    border-radius: 50%;
    overflow: hidden;
  }
}
