/*
***************************************
Component: Header
Author: Joimee
Description:
***************************************
*/

.header {
  $profile-height: 30;
  $profile-height--tablet: 50;
  $bottom-padding: 10;

  margin-bottom: rem(30);

  display: flex;
  height: rem(80);
  background-color: var(--dark);

  @include tablet-p {
    margin-bottom: rem(60);

    height: rem(150);
  }

  .grid {
    padding-bottom: rem($bottom-padding);

    @include tablet-p {
      padding-bottom: 0;
    }
  }

  &.--not-login .grid {
    padding-bottom: rem($bottom-padding);
  }

  &__brand {
    @include Montserrat(700);

    grid-column: 1 / 3;
    align-self: end;

    font-size: rem(24);
    line-height: rem(33);
    text-decoration: none;
    text-transform: lowercase;
    color: var(--light);

    @include tablet-p {
      margin-top: rem(30);

      font-size: rem(28);
      line-height: rem(38);
    }
  }

  &-avatar {
    grid-column: 8 / 9;
    align-self: end;

    position: relative;

    @include tablet-p {
      grid-column: -2 / -1;
    }
  }

  &-nav {
    display: none;

    @include tablet-p {
      grid-column: 1 / -1;
      margin-top: rem(30);
      margin-bottom: rem(30);

      display: flex;
      justify-content: center;

      & > &__item:not(:last-child) {
        margin-right: rem(40);
      }

      &:hover > &__item:not(:hover) {
        color: var(--gray);
      }
    }

    &__item {
      @include Montserrat(600);

      display: inline-block;
      font-size: rem(18);
      line-height: rem(22);
      color: var(--gray);
      text-decoration: none;
      text-transform: capitalize;

      &.--active {
        color: var(--light);
      }

      @include tablet-p {
        @include state((hover, focus)) {
          color: var(--light);
        }
      }
    }
  }

  &-dropdown {
    display: none;
    position: absolute;
    top: rem($profile-height + $bottom-padding);
    right: 0;
    min-width: rem(172);
    padding-bottom: rem(20);
    background-color: var(--dark);
    border-bottom-left-radius: rem(5);
    border-bottom-right-radius: rem(5);
    z-index: $header-dropdown-z;
    box-shadow: $header-dropdown-box-shadow;

    @include tablet-p {
      top: rem($profile-height--tablet);
    }

    &.--open {
      display: block;
    }

    &__item {
      padding-top: rem(20);
      padding-left: rem(20);
      padding-right: rem(20);
      color: var(--light);
    }

    &__link {
      @include Montserrat(700);

      font-size: rem(16);
      line-height: rem(20);
      color: var(--light);
      text-decoration: none;
      cursor: pointer;
    }

    &__button {
      @include Montserrat(700);

      font-size: rem(16);
      line-height: rem(20);
      color: var(--light);
      border: none;
      background: none;
      cursor: pointer;
    }

    &__button.--logout {
      color: var(--persimmon);
    }
  }

  &__profile {
    @include flex-center;
    @include aspect-ratio(1, 1);

    width: rem(30);
    height: rem($profile-height);
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;

    @include tablet-p {
      width: rem(50);
      height: rem($profile-height--tablet);

      @include state(hover) {
        box-shadow: $primary-hard-and-soft-shadow;
      }
    }
  }

  &__placeholder {
    @include Montserrat(700);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--tree-poppy);
    text-transform: uppercase;
    color: var(--mine-shaft);
  }
}
