/*
***************************************
Component: Banner
Author: Joimee
Description: For notifications, alerts, tips, and information of the user
***************************************
*/

.banner {
  $height: rem(50);

  @include flex-center;
  @include Montserrat(700);

  position: absolute;
  top: $header-height--mobile;
  left: 0;
  display: inline-flex;
  height: $height;
  width: 100%;
  background-color: var(--silver);
  max-height: 0;
  transition: max-height 0.25s ease;
  overflow: hidden;
  z-index: $banner-z;

  @include tablet-p {
    top: $header-height--tablet;
  }

  // VARIANTS
  &.--default {
    background-color: var(--silver);
    color: var(--mine-shaft);
  }

  &.--warning {
    background-color: var(--tree-poppy);
    color: var(--light);
  }

  &.--error {
    background-color: var(--persimmon);
    color: var(--light);
  }

  &.--info {
    background-color: var(--dodger-blue);
    color: var(--light);
  }

  &.--success {
    background-color: var(--apple);
    color: var(--light);
  }

  &__content {
    padding: rem(20);
  }
}
