/*
***************************************
Component: Banner
Author: Joimee
Description: For notifications, alerts, tips, and information of the user
***************************************
*/

.banner {
  @include flex-center;
  @include Montserrat(700);

  position: absolute;
  left: 0;
  display: inline-flex;
  height: 100%;
  width: 100%;
  background-color: var(--silver);
  max-height: 0;
  transition: max-height 0.25s ease;
  overflow: hidden;
  z-index: $banner-z;

  // VARIANTS
  &.--default {
    background-color: var(--silver);
    color: var(--mine-shaft);
  }

  &.--warning {
    background-color: var(--tree-poppy);
    color: var(--light);
  }

  &.--error {
    background-color: var(--persimmon);
    color: var(--light);
  }

  &.--info {
    background-color: var(--dodger-blue);
    color: var(--light);
  }

  &.--success {
    background-color: var(--apple);
    color: var(--light);
  }

  &__content {
    grid-column: 1 / -1;

    padding: rem(20);
  }
}
