@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide-appearance {
  position: absolute;
  top: rem(-1000);
  left: rem(-1000);
  width: 1px;
  height: 1px;
  opacity: 0;
}
