@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin hide-appearance {
  position: absolute;
  top: rem(-1000);
  left: rem(-1000);
  width: 1px;
  height: 1px;
  opacity: 0;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@mixin padding-x($padding-left, $padding-right: null) {
  padding-left: rem($padding-left);

  @if ($padding-right == null) {
    padding-right: rem($padding-left);
  } @else {
    padding-right: rem($padding-right);
  }
}

@mixin padding-y($padding-top, $padding-bottom: null) {
  padding-top: rem($padding-top);

  @if ($padding-bottom == null) {
    padding-bottom: rem($padding-top);
  } @else {
    padding-bottom: rem($padding-bottom);
  }
}

@mixin minmax-height($min, $max) {
  min-height: $min;
  max-height: $max;
}
