/*
***************************************
Component: ReportAProblemForm
Author: Joimee
Description:
***************************************
*/

.reportAProblemForm {
  background-color: papayawhip;
}
