/*
***************************************
Component: Avatar
Author: Joimee
Description:
***************************************
*/

.avatar {
  @include aspect-ratio(1, 1);

  width: 100%;
  background-color: var(--tree-poppy);

  &__placeholder {
    @include Montserrat(700);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: var(--mine-shaft);
    background-color: var(--tree-poppy);
  }
}
