.styleguide-nav {
  display: flex;
  flex-wrap: nowrap;
  padding: rem(10);
  background-color: var(--dark);
  overflow-x: scroll;

  & > &__item:not(:last-child) {
    margin-right: rem(10);
  }

  &__button {
    border: rem(1) solid var(--light);
    border-radius: rem(3);
    font-size: rem(16);
    padding: rem(10) rem(20);
    cursor: pointer;

    @include Montserrat(700);
  }

  &__button.active {
    background-color: var(--dark);
    color: var(--light);
    transition-property: background-color, color;
    transition-timing-function: ease;
    transition-duration: .15s;
  }
}
