/*
***************************************
Component: AuthForm
Author: Joimee
Description:
***************************************
*/

.authForm {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 86vh; // formula: 732 (target) / 812 (base) * 100vh

    @include tablet-p {
      margin-top: 25.390625vh;

      display: grid;
      height: auto;
    }

    .form-group {
      @include tablet-p {
        grid-column: 4 / -4;
      }
    }
  }

  // Buttons
  &-buttons {
    margin-top: auto;
    margin-bottom: rem(40);

    display: flex;
    width: 100%;
    justify-content: space-between;

    @include tablet-p {
      grid-column: 4 / -4;
      margin-top: rem(100);
    }
  }

  &__cancel {
    min-width: rem(87);
  }

  &__submit {
    min-width: rem(164);
  }
}
