.chat-settings {
  $this: &;

  .grid {
    display: flex;
    flex-direction: column;

    min-height: (582 / 812) * 100vh;

    @include tablet-p {
      display: grid;
      flex-direction: unset;
      min-height: unset;
    }
  }

  &__title {
    @include Montserrat(700);

    margin-bottom: rem(20);

    font-size: rem(16);
    line-height: rem(20);
    color: var(--gray);

    @include tablet-p {
      grid-column: 1 / 7;

      font-size: rem(18);
      line-height: rem(22);
    }
  }

  .form-group {
    margin-bottom: rem(30);

    @include tablet-p {
      grid-column: 1 / 7;
    }
  }

  &__themes {
    display: flex;
    justify-content: space-between;

    @include tablet-p {
      grid-column: 1 / 7;
    }
  }

  &__theme {
    &-color {
      width: rem(50);
      height: rem(50);
      border: $thin-gray-border;
      border-radius: rem(5);
      background-color: $light;
    }

    #{$this}__checkbox {
      flex-direction: column;
      align-items: center;
    }

    #{$this}__checkbox-display {
      margin-top: rem(10);

      width: rem(15);
      height: rem(15);
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;

    @include tablet-p {
      cursor: pointer;
    }

    &-display {
      @include inline-flex-center;

      width: rem(30);
      height: rem(30);
      border-radius: rem(5);
      background-color: var(--mine-shaft);
    }

    &-icon {
      div {
        display: flex;
      }

      svg {
        width: 100%;
        height: 100%;
        stroke: var(--light) !important;
      }
    }

    &-text {
      @include Montserrat(600);

      margin-left: rem(10);

      font-size: rem(16);
      line-height: rem(20);
      color: var(--mine-shaft);
    }
  }

  &__actions {
    margin-top: auto;

    display: flex;
    justify-content: space-between;

    @include tablet-p {
      grid-column: 1 / 7;
    }
  }
}
