.chat {
  &-header {
    margin-bottom: rem(25);
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-between;

    &__settings {
      svg {
        width: rem(20);
        height: rem(20);
      }

      div {
        display: flex;
      }
    }
  }

  &__heading {
    @include Montserrat(700);

    font-size: rem(16);
    line-height: rem(20);
    color: var(--gray);
  }

  &-mates {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
  }

  &-mate {
    $mate: &;

    margin-top: rem(40);

    &.--unread {
      #{$mate}__read-more {
        color: var(--persimmon);
      }

      #{$mate}__avatar-container::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: rem(-7);
        right: rem(-7);
        width: rem(15);
        height: rem(15);
        border-radius: 50%;
        background-color: var(--persimmon);
        z-index: $indicator-z;
      }
    }

    &__link {
      display: grid;
      grid-template-columns: (76 / 335 * 100%) 1fr;
      grid-column-gap: rem(10);
      color: var(--mine-shaft);
      text-decoration: none;
    }

    &__avatar {
      @include aspect-ratio(1, 1);

      border-radius: rem(8);
      background-color: var(--light);

      &-container {
        position: relative;
      }
    }

    // &__info {}

    &__name {
      margin-bottom: rem(5);

      @include Montserrat(700);

      font-size: rem(18);
      line-height: rem(22);
    }

    &__message {
      margin-bottom: rem(8);

      @include Avenir(300);

      font-size: rem(16);
      line-height: rem(22);
      color: var(--gray);

      // TODO: Create a mixin for this
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: rem(240);
    }

    &__meta {
      display: flex;
      justify-content: space-between;
    }

    &__read-more {
      @include Avenir;

      font-size: rem(14);
      line-height: rem(19);
      color: var(--gray);
    }

    &__timeago {
      @include Avenir(300);

      font-size: rem(14);
      line-height: rem(19);
      text-align: right;
      color: var(--gray);
    }
  }

  &-mates > &-mate:first-of-type {
    margin-top: 0;
  }
}
