.inventory {
  &__list {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: (9 / 375) * 100%;
    grid-row-gap: rem(30);

    @include tablet-p {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: rem(15);
    }

    .tip {
      grid-column: 1 / -1;
    }
  }

  &__add {
    @include Montserrat(600);

    grid-column: 1 / 4;
    margin-top: rem(30);

    @include tablet-p {
      margin-top: rem(60);
    }
  }
}
