.item {
  .grid {
    @include tablet-p {
      grid-template-columns: unset;
      grid-template-areas: "title title title"
        "image product product"
        "image owner owner"
        "image remarks remarks"
        "image firstButton secondButton";
    }
  }

  &__image {
    @include aspect-ratio(248, 248);

    grid-column: 2 / -2;

    border-radius: rem(10);
    border: $thin-gray-border;
    background-color: var(--light);

    @include tablet-p {
      margin-top: rem(37);
      grid-area: image;
      align-self: start;

      width: rem(288);
    }
  }

  &__link {
    margin-top: rem(10);
    align-self: center;
  }

  &__title {
    @include Montserrat(700);

    grid-column: 1 / -1;
    margin-top: rem(20);

    text-align: center;
    font-size: rem(24);
    line-height: rem(29);

    @include tablet-p {
      grid-area: title;
      margin-top: 0;
      margin-bottom: rem(40);

      font-size: rem(28);
      line-height: rem(34);
    }
  }

  &-card {
    grid-column: 1 / -1;
    margin-top: rem(30);

    display: flex;
    flex-direction: column;

    @include tablet-p {
      margin-top: 0;

      min-width: rem(407);
      width: 100%;
    }

    &:not(:last-of-type) {
      @include tablet-p {
        margin-bottom: rem(40);
      }
    }

    &:last-of-type {
      margin-bottom: rem(60);
    }

    &.--product {
      @include tablet-p {
        grid-area: product;
      }
    }

    &.--owner {
      @include tablet-p {
        grid-area: owner;
      }
    }

    &.--remarks {
      @include tablet-p {
        grid-area: remarks;
      }
    }

    &__title {
      @include Montserrat(700);

      font-size: rem(18);
      line-height: rem(22);

      @include tablet-p {
        font-size: rem(22);
        line-height: rem(27);
      }
    }

    &__link {
      margin-top: rem(20);
      align-self: center;

      @include Montserrat(600);

      display: inline-block;
      font-size: rem(16);
      color: var(--dodger-blue);

      @include tablet-p {
        font-size: rem(18);
      }
    }

    &__details {
      margin-top: rem(10);

      padding: rem(10);
      min-height: rem(46);
      border-radius: rem(10);
      border: $thin-gray-border;
      background-color: var(--light);

      @include tablet-p {
        padding: rem(20);
      }
    }

    &__text {
      white-space: pre-wrap;
      line-height: 1.5em;

      @include tablet-p {
        font-size: rem(18);
        line-height: rem(30);
      }
    }

    &__item {
      font-size: rem(16);
      line-height: rem(30);

      @include tablet-p {
        font-size: rem(18);
        line-height: rem(30);
      }
    }

    &__item strong {
      @include Montserrat(700);
    }

    &__item a {
      color: var(--merlin);
    }
  }

  &__like {
    grid-column: 1 / 4;

    @include tablet-p {
      grid-area: firstButton;
      justify-self: start;

      width: rem(119);
    }
  }

  &__trade {
    grid-column: 4 / -1;

    @include tablet-p {
      grid-area: secondButton;
      justify-self: end;

      width: rem(225);
    }
  }

  &__edit {
    grid-column: 1 / 4;

    @include tablet-p {
      grid-area: firstButton;
      justify-self: start;

      width: rem(119);
    }
  }

  &__delete {
    grid-column: 6 / -1;

    @include tablet-p {
      grid-area: secondButton;
      justify-self: end;

      width: rem(200);
    }
  }
}
