.trade-request-select {
  .grid {
    display: flex;
    flex-direction: column;
    min-height: (582 / 812) * 100vh;

    @include tablet-p {
      display: grid;
      min-height: unset;
    }
  }

  .title {
    @include tablet-p {
      grid-column: 3 / -3;
    }
  }

  &__list {
    margin-bottom: rem(40);

    @include tablet-p {
      margin-bottom: rem(60);
      grid-column: 3 / -3;
    }

    & > *:not(:last-child) {
      margin-bottom: rem(10);

      @include tablet-p {
        margin-bottom: rem(15);
      }
    }
  }

  &__option {
    width: 100%;
    display: block;

    &.--selected {
      .miniCard-image {
        border-color: var(--paarl);
      }

      .miniCard-info {
        background-color: var(--tree-poppy);
        border-color: var(--paarl);
        color: var(--light);
      }
    }
  }

  &__footer {
    margin-top: auto;

    display: flex;
    justify-content: space-between;

    @include tablet-p {
      grid-column: 3 / -3;
    }
  }

  &__cancel {
    min-width: rem(87);
  }

  &__submit {
    min-width: rem(164);
  }
}
