.trade-request {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 69.82758620689656vh;

  &__heading {
    @include Montserrat(700);

    grid-column: 1 / -1;
    margin-bottom: rem(20);

    font-size: rem(16);
    line-height: rem(20);
    color: var(--gray);
  }

  &__item {
    grid-column: 1 / -1;
    margin-bottom: rem(40);

    display: block;
    text-decoration: none;
    color: var(--mines-shaft);
  }

  &__list {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: rem(10);
    grid-row-gap: rem(20);

    &-item {
      .button {
        margin-top: rem(10);
        width: 100%;
      }
    }
  }

  &__footer {
    grid-column: 1 / -1;
    margin-top: rem(50);

    display: flex;
    justify-content: space-between;

    & > .button:first-child {
      min-width: rem(86);
    }

    & > .button:last-child {
      min-width: rem(64);
    }
  }

  .tip {
    grid-column: 1 / -1;
  }
}
