.button {
  @include Montserrat(600);

  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(40);
  border-radius: rem(5);
  font-size: rem(16);
  line-height: rem(20);
  border: rem(1) solid;
  text-decoration: none;
  padding-left: rem(10);
  padding-right: rem(10);
  cursor: pointer;

  @include tablet-p {
    height: rem(50);
    font-size: rem(18);
    line-height: rem(22);
    padding-left: rem(20);
    padding-right: rem(20);
  }

  // variants
  &.--default {
    border-color: var(--dusty-gray);
    background-color: var(--light);
    color: var(--mine-shaft);
  }

  &.--dark {
    border-color: var(--mine-shaft);
    background-color: var(--mine-shaft);
    color: var(--light);
  }

  &.--primary {
    border-color: var(--paarl);
    background-color: var(--tree-poppy);
    color: var(--mine-shaft);

    &-dark {
      border-color: var(--tree-poppy);
      background-color: var(--mine-shaft);
      color: var(--tree-poppy);
    }

    &-link {
      background-color: transparent;
      border-color: transparent;
      color: var(--tree-poppy);
      text-decoration: underline;
    }
  }

  &.--success {
    border-color: var(--mine-shaft);
    background-color: var(--apple);
    color: var(--light);
  }

  &.--red-outline {
    border-color: var(--persimmon);
    color: var(--persimmon);
  }

  &.--disabled {
    border-color: var(--gray);
    background-color: var(--silver);
    color: var(--gray);
  }

  // with icon
  &-icon {
    margin-right: rem(15);

    div {
      display: flex;
    }
  }
}
