.button {
  @include Montserrat(700);

  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(40);
  border-radius: rem(5);
  font-size: rem(16);
  line-height: rem(20);
  border: rem(1) solid;
  text-decoration: none;

  &.--default {
    border-color: var(--dusty-gray);
    background-color: var(--light);
    color: var(--mine-shaft);
  }

  &.--dark {
    border-color: var(--mine-shaft);
    background-color: var(--mine-shaft);
    color: var(--light);
  }

  &.--primary {
    border-color: var(--paarl);
    background-color: var(--tree-poppy);
    color: var(--mine-shaft);
  }

  &.--primary-dark {
    border-color: var(--tree-poppy);
    background-color: var(--mine-shaft);
    color: var(--tree-poppy);
  }

  &.--red-outline {
    border-color: var(--persimmon);
    color: var(--persimmon);
  }

  &.--disabled {
    background-color: var(--silver);
    color: var(--mine-shaft);
  }

  &-icon {
    margin-right: rem(15);

    div {
      display: flex;
    }
  }
}
