.button {
  @include Montserrat(700);

  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(40);
  border-radius: rem(5);
  font-size: rem(16);
  line-height: rem(20);
  border: none;
  text-decoration: none;

  &.--default {
    border: rem(1) solid var(--dusty-gray);
    background-color: var(--light);
    color: var(--mine-shaft);
  }

  &.--primary-dark {
    border: rem(1) solid var(--tree-poppy);
    color: var(--tree-poppy);
    background-color: var(--mine-shaft);
  }

  &-icon {
    margin-right: rem(15);

    div {
      display: flex;
    }
  }
}
