.form {
  &-group {
    margin-bottom: rem(20);

    display: block;
    width: 100%;

    @include tablet-p {
      margin-bottom: rem(30);
    }

    &__label {
      @include Montserrat(600);

      margin-bottom: rem(10);

      display: block;
      font-size: rem(14);
      line-height: rem(17);
      color: var(--gray);

      @include tablet-p {
        font-size: rem(16);
        line-height: rem(20);
      }
    }
  }

  &__input {
    @include Montserrat(600);

    padding-left: rem(10);
    padding-right: rem(10);
    width: 100%;
    height: rem(40);
    font-size: rem(16);
    line-height: rem(20);
    border: $thin-gray-border;
    border-radius: rem(10);
    background-color: var(--silver);

    @include tablet-p {
      padding-left: rem(15);
      padding-right: rem(15);
      height: rem(50);
      font-size: rem(18);
      line-height: rem(20);
    }

    @include state((hover, focus)) {
      outline: none;
      background-color: var(--mine-shaft);
      border-color: var(--dark);
      color: var(--light);
    }

    &.--disabled {
      background: none;
      border: none;
      color: var(--gray);

      @include state((hover, focus)) {
        background: none;
        border: none;
        color: var(--gray);
      }
    }

    &.--textarea {
      min-height: rem(130);
      padding-top: rem(10);
      padding-bottom: rem(10);
    }
  }
}
