.hide-appearance {
  @include hide-appearance;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.--mb-40 {
  margin-bottom: rem(40);
}

.--mb-60 {
  margin-bottom: rem(60);
}
