.--emphasize {
  color: var(--tree-poppy);
}

.--brand {
  @include Montserrat(700);

  font-size: rem(24);
  line-height: rem(33);
  text-decoration: none;
  text-transform: lowercase;

  @include tablet-p {
    margin-top: rem(30);

    font-size: rem(28);
    line-height: rem(38);
  }
}
