/*
***************************************
Component: TradeRequestSelect
Author: Joimee
Description: 
***************************************
*/

.tradeRequestSelect {
  background-color: papayawhip;
}
