* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: $primary-hard-shadow, $primary-soft-shadow;
  }
}

html {
  @include Montserrat;

  font-size: $base-font-size + px;
  background-color: var(--tree-poppy);
}

body {
  font-size: 1.6rem;
  color: var(--mine-shaft);
  background-color: var(--alto);
}

button {
  border: none;
  background: none;
}
