@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*
Montserrat
==============
Regular: 400
Bold: 700
*/
@mixin Montserrat($weight: 400) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
}
