:root {
  // Colors
  --light: #fff;
  --dark: #000;
  --mine-shaft: #333;
  --gray: #808080;
  --dusty-gray: #959595;
  --tree-poppy: #fa9917;
  --alto: #e0e0e0;
  --paarl: #9f6c27;
  --oasis: #fde4c3;
  --silver: #c8c8c8;
  --persimmon: #ff5f58;
  --dodger-blue: #3399ff;
  --apple: #2ac940;

  // z-indexes
  --z-footer: 3;
}
