:root {
  // Colors
  --light: #fff;
  --dark: #000;
  --mine-shaft: #333;
  --gray: #808080;
  --dusty-gray: #959595;
  --tree-poppy: #fa9917;
  --alto: #e0e0e0;

  --background: #e0e0e0;

  // z-indexes
  --z-footer: 3;
}
