/*
***************************************
Component: LoadingScreen
Author: Joimee
Description:
***************************************
*/

.loadingScreen {
  @include flex-center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark);

  &__brand {
    @include Montserrat(700);

    font-size: rem(24);
    line-height: rem(33);
    text-transform: lowercase;
    color: var(--light);
    animation: fadeInOut 2s linear alternate infinite;

    @include tablet-p {
      font-size: rem(28);
      line-height: rem(38);
    }
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
